/* page: 412 */
.screen412 .screenedutinker {
    overflow-y: auto;
    height: calc(100vh - 50px);
}
.screen412 .sidebarscreen412 {
    padding-left: 30px;
}
.screen412 .sidebarscreen412 .indicator {
    color: #F47E16;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.screensidebar412 .Modify_Class {
    color: #00352D;
    font-weight: bold;
}
.screen412 .Header {
    color: #00352D;
    font-weight: 900;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 46px;
}
.screen412 .Header.margin-top-50px {
    margin-top: 50px;
}
.screen412 .row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px;
    /* justify-content: space-between; */
    /* width: calc(50vw - -78px); */
}
.screen412 .row .input-div {
    position: relative;
    margin-right: 30px;
}
.screen412 .row .input-div.email {
    width: 450px;
}
.screen412 .row .input-div.address {
    width: 750px;
}
.screen412 .row .input-div.select {
    margin-top: -25px;
}
.screen412 .row .input-div.select label {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4DB6AC;
    text-align: left;
    padding: 5px 8px;
}
.screen412 .row .input-div select {
    background: url(../images/svg/Dropdown.svg) 92% center no-repeat;
    padding-left: 20px;
    color: #0D352D;
    margin: 0px;
    width: 230px;
}
.screen412 .row .input-div.select .prefix-icon {
    position: absolute;
    top: 38px;
    left: 10px;
}
.screen412 .row .input-div.select.prefix select {
    padding-left: 40px;
}
.screen412 .row .input-div.radio-div {
    margin-top: -20px;
    width: 230px;
}
.screen412 .row .input-div.radio-div .radio-group-btn {
    display: grid;
    grid-template-columns: 100px 100px;
    margin-left: 15px;
    margin-top: -20px;
}
.screen412 .row .input-div.radio-div .radio-group-btn .radiobutton  {
    background: #ffffff !important;
    border-radius: 10px;
    padding: 20px;
    margin-left: 0px;
    margin-top: 0px;
    max-width: 100% !important;
    position: relative;
    text-align: left;
}
.screen412 .row .input-div.radio-div .radio-group-btn .radiobutton label {
    padding-left: 0px;
    margin-left: 10px;
}
.screen412 .row .input-div.radio-div .radio-group-btn .radiobutton label::before {
    content: "";
    position: absolute;
    top: calc(50% - 0.6rem);
    left: 0px;
    width: 1.125rem;
    height: 1.125rem;
    border: 0.063rem solid #DDE5EB;
    transition: background-size 0.2s ease;
    border-radius: 100px !important;
}
.screen412 .row .input-div.radio-div .radio-group-btn .radiobutton label::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.6rem);
    left: 0;
    width: 1.125rem;
    height: 1.125rem;
    opacity: 0;
    transition: background-size 0.2s ease;
    border-radius: 100px !important;
}
.screen412 .row .input-div input {
    padding: 0.75rem 1rem;
}
.sidebarscreen412 label.form-control-placeholder {
    visibility: visible;
}
.screen412 .row .radio-header {
    color: #4DB6AC;
    line-height: 16px;
    width: 100%;
}
.screen412 .row .radio-btn-group {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.screen412 .row .radio-btn-group .radio-btn {
    width: 80px;
    padding: 5px 20px;
    border: 1px solid #E0F2F1;
    border-radius: 5px;
    cursor: pointer;
}
.screen412 .row .radio-btn-group .radio-btn.active {
    background: rgba(237, 107, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ED6B00;
}
/* page: 412 */
/* page: 413 */
.screen413 .sidebarscreen413 .row ul {
    margin: 15px 0 0 15px;
    text-indent: -8px;
    margin-left: 20px;
    width: 790px;
}
.screen413 .sidebarscreen413 .row ul li::before {
    content: "";
    background-color: #009688;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0px;
    margin-right: 15px;
}
.screen413 .sidebarscreen413 .row ul li .highlight,
.screen413 .sidebarscreen413 .row p .highlight {
    color: #FF7700;
    font-weight: bold;
    font-size: 18px;
}
.screen413 .sidebarscreen413 .row p.Download-Student-Template {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
.screen413 .sidebarscreen413 .row p.Download-Student-Template img {
    margin-left: 20px;
    position: absolute;
}
.screen413 .sidebarscreen413 .row .input-div {
    margin-left: 20px;
}

.screen413 .sidebarscreen413 .row .input-div .custom-file-input {
    background-color: rgba(255, 119, 0, 0.15);
    border: none;
    cursor: pointer;
    color: transparent;
}
.screen413 .sidebarscreen413 .row .input-div .custom-file-input::before {
    content: 'Choose File';
    color: #FF7700;
    display: inline-block;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    margin-left: 0px;
}
.screen413 .sidebarscreen413 .row .input-div .custom-file-input::after {
    content: 'No File chosen';
    color: #00352D;
    position: absolute;
    margin-left: -70px;
    top: 15px;
}
.screen413 .sidebarscreen413 .row .input-div .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.screen413 .sidebarscreen413 .row .upload {
    margin-top: 0;
}
/* page: 413 */
