/* page: 440 */
.Start_Date select {
    background: url(../images/svg/Dropdown.svg) 92% center no-repeat;
    appearance: none;
    font-size: 0.875rem;
    display: block;
    width: 200px;
    color: #333;
    font-family: "Lato";
    font-size: 1rem;
    margin-bottom: 1.75rem;
    border: 0.063rem solid #a5e0da;
    border-radius: 0.9375rem;
    padding: 0.75rem 1rem;
}
.dateline .Start_Date {
    width: auto;
}
.dateline {
    margin-top: 45px;
}
.sidebarscreen300 label.form-control-placeholder {
    visibility: visible !important;
}
.form-control-placeholder {
    position: absolute;
    top: -35px;
    padding: 0.75rem 0 0 2.5rem;
    transition: all 200ms;
    left: -30px;
}
/* page: 440 */
